.page {
    padding: 16px;
    min-height: 100vh;
    background-color: #f2f1f1;

    h3 {
        font-size: 24px;
        font-weight: 500;
    }

    .page-main-box {
        margin-top: 24px;
        padding: 16px;
        border-radius: 4px;
        background: #ffffff;
        box-shadow:  5px -5px 10px #d4d4d4,
                     -5px 5px 10px #ffffff;

        header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            p{
                font-size: 16px;
                font-weight: 800;
            }
        }

        .main-tabs{
            margin-top: 24px;
            :global{
                .adm-tabs-tab{
                    font-size: 16px;
                }
            }
        }
    }
}


.modal-box{
    position: relative;
    :global{
        .adm-modal-header{
            font-size: 16px;
            font-weight: 500;
        }
    }
}

.from-box{
    a{
        color:aqua;
    }
}

.partial-select{
    display: flex;
    justify-content: space-between;
    padding: 8px 12px;
}